.panelView {
    flex-direction: column;
    position: fixed;
    top: 20px;
    min-width: 15%;
    width: 300px;
    height: calc(100% - 40px);
    margin: 0 20px;
    border-radius: 14px;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--glass-3);
    overflow: hidden;
}

.panelHeader {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 0 solid var(--line-no);
    border-bottom-width: 1px;
    padding: 10px 16px;
}

.panelLblView {
    align-items: center;
}

.panelLbl {
    font-size: 24px;
    font-weight: 600;
}

.panelCountBg {
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 2px 10px;
    margin-right: 10px;
    background-color: var(--fill-3);
}

.panelCountLbl {
    font-size: 20px;
    font-weight: 700;
    color: var(--green);
}

.panelBtns {
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.panelBtn {
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: var(--fill-1);
}