* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  background: #79A0D3;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input {
  margin: 0;
}

a {
  all: unset;
  cursor: pointer;
}

hr {
  all: unset;
}

button {
  display: flex;
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
}

input {
  border: none;
  background-color: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}