:root {
  --bg-t1: #0f111a;
  --lbl-2: #ebebf599;
  --fill-4: #7474802e;
  --tint: #0a84ff;
  --content-width: 1020px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::selection {
  background-color: var(--fill-2);
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  background: var(--bg-t1);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input {
  margin: 0;
  color: var(--lbl-1);
}

a {
  all: unset;
  color: var(--link);
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  color: var(--lbl-1);
  background-color: transparent;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 20px;
  height: 56px;
  width: 100%;
  z-index: 1;

  @media (max-width: 1020px) {
    top: 5px;
    transform: scale(0.55);
  }
}

.nav-content {
  flex-direction: row;
  gap: 2px;
  padding: 8px;
  border-radius: 28px;
  background-color: var(--fill-4);
  -webkit-backdrop-filter: saturate(180%) blur(20px) !important;
  backdrop-filter: saturate(180%) blur(20px);
  box-shadow:
    inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
    0 3px 5px 1px #0004;

  .nav-item {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    color: var(--lbl-1);

    &:hover {
      background-color: var(--fill-4);
    }
  }

  .nav-home {
    padding-left: 5px;
  }

  .nav-home:hover {
    background-color: transparent;
  }

  .nav-btn {
    background-color: var(--tint);
  }

  .btn-hover:hover {
    background-color: var(--tint);
    opacity: 0.6;
  }

  .logo {
    flex-direction: row;
    align-items: center;

    img {
      width: 40px;
      height: 40px;
      margin-right: 4px;
    }

    h3 {
      font-size: 21px;
      font-weight: 600;
    }
  }
}

.hero-section {
  padding: 160px 0 184px;
  margin-bottom: 0;
  background-color: var(--bg-t1);
  overflow: hidden;

  @media (max-width: 1020px) {
    padding: 60px 0 84px;
  }

  .hero {
    align-items: center;
    justify-content: center;

    .logo {
      align-items: center;

      img {
        width: 170px;
        height: 170px;

        @media (max-width: 1020px) {
          width: 120px;
          height: 120px;
          margin-top: 50px;
        }
      }

      h3 {
        font-size: 22px;
        font-weight: 500;
        margin-top: -30px;

        @media (max-width: 1020px) {
          font-size: 17px;
          margin-top: -24px;
        }
      }
    }

    .title {
      font-size: 80px;
      font-weight: 500;
      line-height: 84px;
      text-align: center;
      margin-top: 52px;

      @media (max-width: 1020px) {
        font-size: 44px;
        line-height: 52px;
        margin-top: 38px;
      }
    }

    .subtitle {
      font-size: 32px;
      font-weight: 500;
      line-height: 36px;
      text-align: center;
      margin-top: 72px;
      width: 560px;

      @media (max-width: 1020px) {
        font-size: 44px;
        line-height: 52px;
        margin-top: 38px;
      }
    }

    .cta-btn {
      font-size: 17px;
      font-weight: 500;
      padding: 11px 21px;
      border-radius: 1000px;
      margin: 72px 0 10px;
      background-color: var(--tint);

      @media (max-width: 1020px) {
        margin: 36px 0 10px;
      }
    }

    .btn-hover:hover {
      background-color: var(--tint);
      opacity: 0.6;
    }

    .btn-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 128px;

      @media (max-width: 1020px) {
        margin-bottom: 64px;
      }

      small {
        font-size: 13px;
        font-weight: 400;
        color: var(--lbl-2);
      }

      .mac {
        width: 20px;
        height: 20px;
        margin: 0 5px 1px 5px;
      }

      .win {
        width: 16px;
        height: 16px;
      }
    }

    .video {
      width: var(--content-width);
      margin-bottom: 20px;
      border: 1px solid #fdfdfd4d;
      border-radius: 18px;
      box-shadow: 0 0 150px 50px #fff3;

      @media (max-width: 1020px) {
        box-shadow: 0 0 110px 20px #fff3;
      }
    }
  }
}
