{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "semi": true,
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "bracketSpacing": true
}



