@font-face {
    font-family: 'Inter Display';
    src: url('/public/fonts/woff2/InterDisplay-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Display';
    src: url('/public/fonts/woff2/InterDisplay-Medium.woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Display';
    src: url('/public/fonts/woff2/InterDisplay-SemiBold.woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Display';
    src: url('/public/fonts/woff2/InterDisplay-Bold.woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

*,
/* *:before, */
*:after {
    font-family: 'Inter Display', -apple-system, system-ui, BlinkMacSystemFont, Helvetica, sans-serif;
}

body {
    font-family: 'Inter Display', -apple-system, system-ui, BlinkMacSystemFont, Helvetica, sans-serif;
}