@font-face {
  font-family: 'Inter';
  src: url('/public/fonts/woff2/InterVariable.woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

*,
/* *:before, */
*:after {
  font-family: 'Inter', -apple-system, system-ui, BlinkMacSystemFont, Helvetica, sans-serif, 'SF Mono';
}

body {
  font-family: 'Inter', -apple-system, system-ui, BlinkMacSystemFont, Helvetica, sans-serif, 'SF Mono';
}