.pageView {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.headerView {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 44px;
    width: 100%;
    border: 0 solid var(--nonopaque-separator);
    border-bottom-width: 1px;
    background-color: var(--thin-material);
}

.headerButton {
    background-color: transparent;
    margin: 0px 18px;
    padding: 5px 12px;
    border-radius: 5px;
}

.headerLabel {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}

.settings {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settingLabel {

}

.questView {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.questBody {
    display: flex;
    flex-direction: column;
}

.questList {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.questAuthor {

}

.questLabel {

}

.questBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.view {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    min-width: 55%;
}

.top {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.author {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
    color: var(--secondary-label);
}

.label {
    font-size: 20px;
    max-width: 48ch;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview {
    font-size: 70px;
    max-width: 24ch;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 45%;
}

.input {
    display: flex;
    flex: 1;
    height: 44px;
    border: none;
    font-size: 17px;
    border-radius: 22px;
    margin-right: 10px;
    padding: 10px 15px;
    color: white;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--thin-material);
}

.buttons {
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 22px;
    background-color: var(--system-blue);
}

.buttonIcon {
    height: 30px;
    width: 30px;
    filter: invert(100%);
}