.pageView {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.headerView {
    
}

.header {
    color: var(--primary-label);
}

.displayView {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    width: 50%;
}

.displayAuthor {
    color: var(--primary-label);
}

.displayLabel {
    color: var(--primary-label);
}

.displayBottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 30px;
}

.displayInput {
    display: flex;
    flex: 1;
    height: 44px;
    border: none;
    font-size: 17px;
    border-radius: 22px;
    margin-right: 10px;
    padding: 10px 15px;
    color: white;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--thin-material);
    transition: all 1s ease-out;
}

.questView {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.questBody {
    display: flex;
    flex-direction: column;
}

.questList {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.questAuthor {
    color: var(--primary-label);
}

.questLabel {
    color: var(--primary-label);
}

.questBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 44px;
    width: 44px;
    border-radius: 22px;
    padding: 0;
    background-color: var(--system-blue);
}

.buttonIcon {
    height: 30px;
    width: 30px;
    filter: invert(100%);
}